Doc/Templates/Solutions/IoT_Tor/Lichtschranke.json
[{"id":"7bade9dfebb61737","type":"tab","label":"Lichtschranke","disabled":false,"info":""},{"id":"97478b838c943253","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"7","allports":false,"inputs":1,"x":1700,"y":180,"wires":[["113e9d0c82f108b1"]],"full_wires":[[{"target_port":0}]]},{"id":"3da9b613e67589d3","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"8","allports":false,"inputs":1,"x":1700,"y":260,"wires":[["113e9d0c82f108b1"]],"full_wires":[[{"target_port":0}]]},{"id":"2c6f988a6f0c3efb","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"9","allports":false,"inputs":1,"x":1700,"y":360,"wires":[["113e9d0c82f108b1"]],"full_wires":[[{"target_port":0}]]},{"id":"cdca0ce0643bad66","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"10","allports":false,"inputs":1,"x":1700,"y":460,"wires":[["113e9d0c82f108b1"]],"full_wires":[[{"target_port":0}]]},{"id":"7bcf2dc255ec6d3e","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"11","allports":false,"inputs":1,"x":2130,"y":600,"wires":[["33f0b88f9a5fa5f1"]],"full_wires":[[{"target_port":0}]]},{"id":"6f206c4ba3727e5f","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"12","allports":false,"inputs":1,"x":1770,"y":580,"wires":[["113e9d0c82f108b1"]],"full_wires":[[{"target_port":0}]]},{"id":"0ea7ac6c50a4c823","type":"Output","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"13","allports":false,"inputs":1,"x":1630,"y":700,"wires":[["33f0b88f9a5fa5f1"]],"full_wires":[[{"target_port":0}]]},{"id":"f6c43f0e66d62501","type":"Input","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","EingangName":"3","allportsi":false,"outputs":1,"x":250,"y":240,"wires":[["5f918c7e6bd1e727","fe7801c7a171f339","208f09ed8885297c"]],"full_wires":[[{"target_port":0},{"target_port":0},{"target_port":0}]]},{"id":"789592963b8d93d5","type":"Input","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","EingangName":"4","allportsi":false,"outputs":1,"x":250,"y":320,"wires":[["b9858adc2fd7c49a","5f918c7e6bd1e727","a72ca940594eb206"]],"full_wires":[[{"target_port":0},{"target_port":1},{"target_port":0}]]},{"id":"978ac8dfd8322fba","type":"and","z":"7bade9dfebb61737","name":"","debugmode":true,"x":590,"y":140,"wires":[["04ba74e530228f9f","2401a3445e1a6746"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"fe7801c7a171f339","type":"not","z":"7bade9dfebb61737","name":"","x":455,"y":120,"wires":[["978ac8dfd8322fba"]],"full_wires":[[{"target_port":0}]],"l":false},{"id":"b9858adc2fd7c49a","type":"not","z":"7bade9dfebb61737","name":"","x":475,"y":160,"wires":[["978ac8dfd8322fba"]],"full_wires":[[{"target_port":3}]],"l":false},{"id":"04ba74e530228f9f","type":"or","z":"7bade9dfebb61737","name":"","debugmode":true,"x":810,"y":160,"wires":[["208f09ed8885297c"]],"full_wires":[[{"target_port":1}]]},{"id":"2401a3445e1a6746","type":"or","z":"7bade9dfebb61737","name":"","debugmode":true,"x":730,"y":380,"wires":[["a72ca940594eb206"]],"full_wires":[[{"target_port":1}]]},{"id":"208f09ed8885297c","type":"rs","z":"7bade9dfebb61737","name":"","state":false,"debugmode":true,"x":990,"y":240,"wires":[["2401a3445e1a6746","869ccf9ae877b013"]],"full_wires":[[{"target_port":3},{"target_port":0}]]},{"id":"a72ca940594eb206","type":"rs","z":"7bade9dfebb61737","name":"","state":false,"debugmode":true,"x":990,"y":320,"wires":[["04ba74e530228f9f","2921f71ae40e9d62"]],"full_wires":[[{"target_port":3},{"target_port":0}]]},{"id":"14151ef912e1dfa6","type":"counter","z":"7bade9dfebb61737","name":"3 Autos","cnt":0,"trigger":"3","reset":0,"debugmode":true,"x":1380,"y":360,"wires":[["257bd89350aed43c"]],"full_wires":[[{"target_port":1}]]},{"id":"2921f71ae40e9d62","type":"not","z":"7bade9dfebb61737","name":"","x":1115,"y":320,"wires":[["869ccf9ae877b013"]],"full_wires":[[{"target_port":3}]],"l":false},{"id":"5f918c7e6bd1e727","type":"and","z":"7bade9dfebb61737","name":"","debugmode":true,"x":730,"y":480,"wires":[["14151ef912e1dfa6","624043a9c380e3cf","ddc96a5484c02959","7523a829190078ba"]],"full_wires":[[{"target_port":1},{"target_port":1},{"target_port":1},{"target_port":1}]]},{"id":"869ccf9ae877b013","type":"nand","z":"7bade9dfebb61737","name":"","debugmode":true,"x":1175,"y":280,"wires":[["14151ef912e1dfa6","624043a9c380e3cf","ddc96a5484c02959","7523a829190078ba"]],"full_wires":[[{"target_port":2},{"target_port":2},{"target_port":2},{"target_port":2}]],"l":false},{"id":"624043a9c380e3cf","type":"counter","z":"7bade9dfebb61737","name":"5 Autos","cnt":0,"trigger":"5","reset":0,"debugmode":false,"x":1380,"y":440,"wires":[["934af8f3fa2a03a1"]],"full_wires":[[{"target_port":1}]]},{"id":"ddc96a5484c02959","type":"counter","z":"7bade9dfebb61737","name":"8 Autos","cnt":0,"trigger":"8","reset":0,"debugmode":false,"x":1380,"y":500,"wires":[["cfe43791282101b5","f2972614d8a59ec6"]],"full_wires":[[{"target_port":0},{"target_port":1}]]},{"id":"7523a829190078ba","type":"counter","z":"7bade9dfebb61737","name":"10 Autos","cnt":0,"trigger":"10","reset":0,"debugmode":false,"x":1380,"y":640,"wires":[["0ea7ac6c50a4c823","71ba6c15a9d556b3","a36f5c04f734e989"]],"full_wires":[[{"target_port":0},{"target_port":0},{"target_port":1}]]},{"id":"cfe43791282101b5","type":"and","z":"7bade9dfebb61737","name":"","debugmode":false,"x":1610,"y":580,"wires":[["6f206c4ba3727e5f","3dcd5cc3d9de5ee0"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"71ba6c15a9d556b3","type":"not","z":"7bade9dfebb61737","name":"","x":1515,"y":600,"wires":[["cfe43791282101b5","366a30e70780c90a"]],"full_wires":[[{"target_port":3},{"target_port":3}]],"l":false},{"id":"3dcd5cc3d9de5ee0","type":"not","z":"7bade9dfebb61737","name":"","x":1800,"y":520,"wires":[["366a30e70780c90a"]],"full_wires":[[{"target_port":0}]]},{"id":"366a30e70780c90a","type":"and","z":"7bade9dfebb61737","name":"","debugmode":false,"x":1930,"y":600,"wires":[["7bcf2dc255ec6d3e"]],"full_wires":[[{"target_port":0}]]},{"id":"2f112d8fa5d1f6f2","type":"Input","z":"7bade9dfebb61737","name":"","configuration":"a134b344c4b4cd5c","EingangName":0,"allportsi":false,"outputs":1,"x":1280,"y":100,"wires":[["eeaba2742dfb4346"]],"full_wires":[[{"target_port":0}]]},{"id":"257bd89350aed43c","type":"and","z":"7bade9dfebb61737","name":"","debugmode":false,"x":1550,"y":180,"wires":[["97478b838c943253"]],"full_wires":[[{"target_port":0}]]},{"id":"eeaba2742dfb4346","type":"not","z":"7bade9dfebb61737","name":"","x":1395,"y":100,"wires":[["257bd89350aed43c","934af8f3fa2a03a1","f2972614d8a59ec6","a36f5c04f734e989"]],"full_wires":[[{"target_port":0},{"target_port":0},{"target_port":0},{"target_port":0}]],"l":false},{"id":"934af8f3fa2a03a1","type":"and","z":"7bade9dfebb61737","name":"","debugmode":false,"x":1550,"y":260,"wires":[["3da9b613e67589d3"]],"full_wires":[[{"target_port":0}]]},{"id":"f2972614d8a59ec6","type":"and","z":"7bade9dfebb61737","name":"","debugmode":false,"x":1550,"y":360,"wires":[["2c6f988a6f0c3efb"]],"full_wires":[[{"target_port":0}]]},{"id":"a36f5c04f734e989","type":"and","z":"7bade9dfebb61737","name":"","debugmode":false,"x":1550,"y":460,"wires":[["cdca0ce0643bad66"]],"full_wires":[[{"target_port":0}]]},{"id":"a5f12c14738daaeb","type":"mqtt in","z":"7bade9dfebb61737","name":"","topic":"#","qos":"2","datatype":"auto","broker":"b314b6a5a28ea711","nl":false,"rap":true,"rh":0,"x":70,"y":280,"wires":[["f6c43f0e66d62501","789592963b8d93d5"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"a784e2b171dd08bd","type":"mqtt in","z":"7bade9dfebb61737","name":"","topic":"#","qos":"2","datatype":"auto","broker":"b314b6a5a28ea711","nl":false,"rap":true,"rh":0,"x":1130,"y":100,"wires":[["2f112d8fa5d1f6f2"]],"full_wires":[[{"target_port":0}]]},{"id":"113e9d0c82f108b1","type":"mqtt out","z":"7bade9dfebb61737","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b314b6a5a28ea711","x":1970,"y":380,"wires":[],"full_wires":[]},{"id":"33f0b88f9a5fa5f1","type":"mqtt out","z":"7bade9dfebb61737","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b314b6a5a28ea711","x":2220,"y":680,"wires":[],"full_wires":[]},{"id":"a134b344c4b4cd5c","type":"hardware-config","configur":"{     \"Name\":\"IoT Tor\",     \"Input\":[         {             \"Name\":\"Notaus\",             \"Description\":\"Notaus Schalter (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":1         },         {             \"Name\":\"Entlage Zu\",             \"Description\":\"S8 (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":2         },         {             \"Name\":\"Entlage Auf\",             \"Description\":\"S9 (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":3         },         {             \"Name\":\"Lischtschranke 1\",             \"Description\":\"B1\",             \"Topic\":\"stat/n2/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":1         },         {             \"Name\":\"Lischtschranke 2\",             \"Description\":\"B2\",             \"Topic\":\"stat/n2/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":2         },         {             \"Name\":\"Kontaktleiste Tor\",             \"Description\":\"S12 Schlißer\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":4         },         {             \"Name\":\"Stopp\",             \"Description\":\"S6 (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\": 5         },         {             \"Name\":\"Tor Freigabe\",             \"Description\":\"S3 (schließer)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":6         },         {             \"Name\":\"Tor auf\",             \"Description\":\"S2 (schließer)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":7         },         {             \"Name\":\"Tor zu\",             \"Description\":\"S1 (schließer)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":8         }              ],     \"Output\":[             {                 \"Name\":\"Horn\",                 \"Description\":\"H8 Ton\",                 \"Topic\":\"cmnd/n1/power1\",                 \"Topic_alt\":\"cmnd/n1/power1\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"V1\",                 \"Description\":\"V1 LED Tor bewegt sich\",                 \"Topic\":\"cmnd/n1/power2\",                 \"Topic_alt\":\"cmnd/n1/power2\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Tor Auf\",                 \"Description\":\"K2 Relais\",                 \"Topic\":\"cmnd/n1/power3\",                 \"Topic_alt\":\"cmnd/n1/power3\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Tor Zu\",                 \"Description\":\"K1 Relais\",                 \"Topic\":\"cmnd/n1/power4\",                 \"Topic_alt\":\"cmnd/n1/power4\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Leuchttaster Tor zu\",                 \"Description\":\"H1 Leuchte Weiß für S1\",                 \"Topic\":\"cmnd/n1/power5\",                 \"Topic_alt\":\"cmnd/n1/power5\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Leuchttaster Tor auf\",                 \"Description\":\"H2 Leuchte Weiß für S2\",                 \"Topic\":\"cmnd/n1/power6\",                 \"Topic_alt\":\"cmnd/n1/power6\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Leuchttaster Tor stopp\",                 \"Description\":\"H6 Leuchte Rot für S6\",                 \"Topic\":\"cmnd/n1/power7\",                 \"Topic_alt\":\"cmnd/n1/power7\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 1\",                 \"Description\":\"M2\",                 \"Topic\":\"cmnd/n2/power1\",                 \"Topic_alt\":\"cmnd/n2/power1\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 2\",                 \"Description\":\"M3\",                 \"Topic\":\"cmnd/n2/power2\",                 \"Topic_alt\":\"cmnd/n2/power2\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 3\",                 \"Description\":\"M4\",                 \"Topic\":\"cmnd/n2/power3\",                 \"Topic_alt\":\"cmnd/n2/power3\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 4\",                 \"Description\":\"M5\",                 \"Topic\":\"cmnd/n2/power4\",                 \"Topic_alt\":\"cmnd/n2/power4\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Ampel Grün\",                 \"Description\":\"P7\",                 \"Topic\":\"cmnd/n2/power5\",                 \"Topic_alt\":\"cmnd/n2/power5\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Ampel Gelb\",                 \"Description\":\"P8\",                 \"Topic\":\"cmnd/n2/power6\",                 \"Topic_alt\":\"cmnd/n2/power6\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Ampel Rot\",                 \"Description\":\"P9\",                 \"Topic\":\"cmnd/n2/power7\",                 \"Topic_alt\":\"cmnd/n2/power7\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             }          ]     }","name":""},{"id":"b314b6a5a28ea711","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]