Doc/Templates/Solutions/IoT_Tor/Tast.json
[{"id":"ee9d1e3df6c9864a","type":"tab","label":"IoT Tor (Tast)","disabled":false,"info":""},{"id":"8d09b18ad7de8949","type":"Output","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"1","allports":false,"inputs":1,"x":1050,"y":320,"wires":[["1e2989241922a823"]],"full_wires":[[{"target_port":0}]]},{"id":"ec39a3d7a07a5101","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":0,"allportsi":false,"outputs":1,"x":280,"y":280,"wires":[["96800989fa3c5eeb"]],"full_wires":[[{"target_port":0}]]},{"id":"28df7e5b1938e7b2","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"1","allportsi":false,"outputs":1,"x":290,"y":100,"wires":[["655f5fc2ccabc989"]],"full_wires":[[{"target_port":1}]]},{"id":"219e6bae64702c3a","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"2","allportsi":false,"outputs":1,"x":290,"y":540,"wires":[["2f38c9aa85c8015b"]],"full_wires":[[{"target_port":1}]]},{"id":"9a9ae6d2cfde8988","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"5","allportsi":false,"outputs":1,"x":310,"y":240,"wires":[["96800989fa3c5eeb"]],"full_wires":[[{"target_port":0}]]},{"id":"c538fd04bc616681","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"6","allportsi":false,"outputs":1,"x":270,"y":320,"wires":[["96800989fa3c5eeb"]],"full_wires":[[{"target_port":0}]]},{"id":"ee7499669f944933","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"7","allportsi":false,"outputs":1,"x":290,"y":360,"wires":[["96800989fa3c5eeb"]],"full_wires":[[{"target_port":1}]]},{"id":"9794b11f823d4127","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"8","allportsi":false,"outputs":1,"x":280,"y":460,"wires":[["2f38c9aa85c8015b"]],"full_wires":[[{"target_port":0}]]},{"id":"1befe85df227068e","type":"Input","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","EingangName":"9","allportsi":false,"outputs":1,"x":270,"y":60,"wires":[["655f5fc2ccabc989"]],"full_wires":[[{"target_port":0}]]},{"id":"f2272e7adc0c109d","type":"Output","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"2","allports":false,"inputs":1,"x":1060,"y":460,"wires":[["1e2989241922a823"]],"full_wires":[[{"target_port":0}]]},{"id":"4b15a863b3c74673","type":"Output","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"3","allports":false,"inputs":1,"x":1050,"y":220,"wires":[["1e2989241922a823"]],"full_wires":[[{"target_port":0}]]},{"id":"7aa42c192b2e3006","type":"Output","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"4","allports":false,"inputs":1,"x":990,"y":80,"wires":[["1e2989241922a823"]],"full_wires":[[{"target_port":0}]]},{"id":"27c513950cfc6071","type":"Output","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"5","allports":false,"inputs":1,"x":1000,"y":560,"wires":[["1e2989241922a823"]],"full_wires":[[{"target_port":0}]]},{"id":"4c7633de02b82cc7","type":"Output","z":"ee9d1e3df6c9864a","name":"","configuration":"a134b344c4b4cd5c","AusgangName":"6","allports":false,"inputs":1,"x":660,"y":400,"wires":[["1e2989241922a823"]],"full_wires":[[{"target_port":0}]]},{"id":"12c2cd96fa924eec","type":"and","z":"ee9d1e3df6c9864a","name":"","x":870,"y":220,"wires":[["4b15a863b3c74673","8d09b18ad7de8949"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"96800989fa3c5eeb","type":"rs","z":"ee9d1e3df6c9864a","name":"","state":false,"x":530,"y":320,"wires":[["4c7633de02b82cc7","e9edb49df5f1612c"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"e9edb49df5f1612c","type":"not","z":"ee9d1e3df6c9864a","name":"","x":715,"y":260,"wires":[["12c2cd96fa924eec","6371ac40d3e3b696"]],"full_wires":[[{"target_port":2},{"target_port":0}]],"l":false},{"id":"6371ac40d3e3b696","type":"and","z":"ee9d1e3df6c9864a","name":"","x":870,"y":460,"wires":[["f2272e7adc0c109d","8d09b18ad7de8949"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"655f5fc2ccabc989","type":"rs","z":"ee9d1e3df6c9864a","name":"","state":false,"debugmode":false,"x":490,"y":80,"wires":[["7aa42c192b2e3006","12c2cd96fa924eec"]],"full_wires":[[{"target_port":0},{"target_port":0}]]},{"id":"2f38c9aa85c8015b","type":"rs","z":"ee9d1e3df6c9864a","name":"","state":false,"debugmode":false,"x":490,"y":480,"wires":[["6371ac40d3e3b696","27c513950cfc6071"]],"full_wires":[[{"target_port":3},{"target_port":0}]]},{"id":"86574d304cabca3a","type":"mqtt in","z":"ee9d1e3df6c9864a","name":"","topic":"#","qos":"2","datatype":"auto","broker":"b314b6a5a28ea711","nl":false,"rap":true,"rh":0,"x":90,"y":300,"wires":[["1befe85df227068e","28df7e5b1938e7b2","9a9ae6d2cfde8988","ec39a3d7a07a5101","c538fd04bc616681","ee7499669f944933","9794b11f823d4127","219e6bae64702c3a"]],"full_wires":[[{"target_port":0},{"target_port":0},{"target_port":0},{"target_port":0},{"target_port":0},{"target_port":0},{"target_port":0},{"target_port":0}]]},{"id":"1e2989241922a823","type":"mqtt out","z":"ee9d1e3df6c9864a","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b314b6a5a28ea711","x":1270,"y":400,"wires":[],"full_wires":[]},{"id":"a134b344c4b4cd5c","type":"hardware-config","configur":"{     \"Name\":\"IoT Tor\",     \"Input\":[         {             \"Name\":\"Notaus\",             \"Description\":\"Notaus Schalter (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":1         },         {             \"Name\":\"Entlage Zu\",             \"Description\":\"S8 (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":2         },         {             \"Name\":\"Entlage Auf\",             \"Description\":\"S9 (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":3         },         {             \"Name\":\"Lischtschranke 1\",             \"Description\":\"B1\",             \"Topic\":\"stat/n2/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":1         },         {             \"Name\":\"Lischtschranke 2\",             \"Description\":\"B2\",             \"Topic\":\"stat/n2/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":2         },         {             \"Name\":\"Kontaktleiste Tor\",             \"Description\":\"S12 Schlißer\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":4         },         {             \"Name\":\"Stopp\",             \"Description\":\"S6 (öffner)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\": 5         },         {             \"Name\":\"Tor Freigabe\",             \"Description\":\"S3 (schließer)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":6         },         {             \"Name\":\"Tor auf\",             \"Description\":\"S2 (schließer)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":7         },         {             \"Name\":\"Tor zu\",             \"Description\":\"S1 (schließer)\",             \"Topic\":\"stat/n1/RESULT\",             \"Interpreter\":\"SwitchModeOnOFF\",             \"arg\":8         }              ],     \"Output\":[             {                 \"Name\":\"Horn\",                 \"Description\":\"H8 Ton\",                 \"Topic\":\"cmnd/n1/power1\",                 \"Topic_alt\":\"cmnd/n1/power1\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"V1\",                 \"Description\":\"V1 LED Tor bewegt sich\",                 \"Topic\":\"cmnd/n1/power2\",                 \"Topic_alt\":\"cmnd/n1/power2\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Tor Auf\",                 \"Description\":\"K2 Relais\",                 \"Topic\":\"cmnd/n1/power3\",                 \"Topic_alt\":\"cmnd/n1/power3\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Tor Zu\",                 \"Description\":\"K1 Relais\",                 \"Topic\":\"cmnd/n1/power4\",                 \"Topic_alt\":\"cmnd/n1/power4\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Leuchttaster Tor zu\",                 \"Description\":\"H1 Leuchte Weiß für S1\",                 \"Topic\":\"cmnd/n1/power5\",                 \"Topic_alt\":\"cmnd/n1/power5\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Leuchttaster Tor auf\",                 \"Description\":\"H2 Leuchte Weiß für S2\",                 \"Topic\":\"cmnd/n1/power6\",                 \"Topic_alt\":\"cmnd/n1/power6\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Leuchttaster Tor stopp\",                 \"Description\":\"H6 Leuchte Rot für S6\",                 \"Topic\":\"cmnd/n1/power7\",                 \"Topic_alt\":\"cmnd/n1/power7\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 1\",                 \"Description\":\"M2\",                 \"Topic\":\"cmnd/n2/power1\",                 \"Topic_alt\":\"cmnd/n2/power1\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 2\",                 \"Description\":\"M3\",                 \"Topic\":\"cmnd/n2/power2\",                 \"Topic_alt\":\"cmnd/n2/power2\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 3\",                 \"Description\":\"M4\",                 \"Topic\":\"cmnd/n2/power3\",                 \"Topic_alt\":\"cmnd/n2/power3\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Lüfter 4\",                 \"Description\":\"M5\",                 \"Topic\":\"cmnd/n2/power4\",                 \"Topic_alt\":\"cmnd/n2/power4\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Ampel Grün\",                 \"Description\":\"P7\",                 \"Topic\":\"cmnd/n2/power5\",                 \"Topic_alt\":\"cmnd/n2/power5\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Ampel Gelb\",                 \"Description\":\"P8\",                 \"Topic\":\"cmnd/n2/power6\",                 \"Topic_alt\":\"cmnd/n2/power6\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             },             {                 \"Name\":\"Ampel Rot\",                 \"Description\":\"P9\",                 \"Topic\":\"cmnd/n2/power7\",                 \"Topic_alt\":\"cmnd/n2/power7\",                 \"Interpreter\":\"TrueFalseMessage\",                 \"payload\":\"1\",                 \"payload_alt\":\"0\"             }          ]     }","name":""},{"id":"b314b6a5a28ea711","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]