Doc/Templates/MQTT_Intro.json
[
    {
        "id": "6f507522284f3136",
        "type": "tab",
        "label": "MQTT Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b223bb378bbcc2f",
        "type": "mqtt in",
        "z": "6f507522284f3136",
        "name": "",
        "topic": "MQTT/Hello/World",
        "qos": "2",
        "datatype": "auto",
        "broker": "b314b6a5a28ea711",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "cf0a8fb676203bf4"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "fd566e1afdbc6542",
        "type": "mqtt out",
        "z": "6f507522284f3136",
        "name": "",
        "topic": "MQTT/Hello/World",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b314b6a5a28ea711",
        "x": 510,
        "y": 380,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "cf0a8fb676203bf4",
        "type": "debug",
        "z": "6f507522284f3136",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 200,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "a424d793081ced6d",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "fd566e1afdbc6542"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "79bb6839cd8347d2",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1234",
        "payloadType": "num",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "fd566e1afdbc6542"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "0d2303b0bca157cf",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "JSON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Schalter1\":true,\"msg\":\"Hello World!\"}",
        "payloadType": "json",
        "x": 210,
        "y": 420,
        "wires": [
            [
                "fd566e1afdbc6542"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "e26e5df520afbbb3",
        "type": "comment",
        "z": "6f507522284f3136",
        "name": "MQTT User: \"nodered\" Password: \"nodered_pw\"",
        "info": "",
        "x": 340,
        "y": 100,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "ccb365f445eeee83",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MQTT/Hello/World",
        "payload": "Hello World 2",
        "payloadType": "str",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "1daec8c62203eed9"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "1409a63b41e89ed5",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MQTT/Hello/World",
        "payload": "5678",
        "payloadType": "num",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "1daec8c62203eed9"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "7a658d7729377a79",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "MQTT/Hello/NewWorld:JSON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MQTT/Hello/NewWorld",
        "payload": "{\"Schalter1\":false,\"msg\":\"Hello World 2 !\"}",
        "payloadType": "json",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "1daec8c62203eed9"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "fb9463af1fbf9f47",
        "type": "debug",
        "z": "6f507522284f3136",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 760,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "1daec8c62203eed9",
        "type": "mqtt out",
        "z": "6f507522284f3136",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b314b6a5a28ea711",
        "x": 480,
        "y": 600,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "812fdca048c5b018",
        "type": "comment",
        "z": "6f507522284f3136",
        "name": "MQTT/Hello:JSON Fehlt?",
        "info": "",
        "x": 230,
        "y": 700,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "3c7fbaa8f463a70d",
        "type": "mqtt in",
        "z": "6f507522284f3136",
        "name": "",
        "topic": "MQTT/Hello/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "b314b6a5a28ea711",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 760,
        "wires": [
            [
                "fb9463af1fbf9f47"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "9d2fb42692a6b74f",
        "type": "inject",
        "z": "6f507522284f3136",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "MQTT/Special",
        "payload": "Hello There",
        "payloadType": "str",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "036d7b3424e3f575"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "17305e2a976c13fb",
        "type": "comment",
        "z": "6f507522284f3136",
        "name": "MQTT/Special:Hello There Fehlt?",
        "info": "",
        "x": 260,
        "y": 940,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "036d7b3424e3f575",
        "type": "mqtt out",
        "z": "6f507522284f3136",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b314b6a5a28ea711",
        "x": 470,
        "y": 860,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "b67c6ed933f32d51",
        "type": "mqtt in",
        "z": "6f507522284f3136",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "b314b6a5a28ea711",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "b9fd783c8dabd464"
            ]
        ],
        "full_wires": [
            [
                {
                    "target_port": 0
                }
            ]
        ]
    },
    {
        "id": "b9fd783c8dabd464",
        "type": "debug",
        "z": "6f507522284f3136",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1020,
        "wires": [],
        "full_wires": []
    },
    {
        "id": "b314b6a5a28ea711",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "10",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]